.skills_con {
  height: 100%;
}
.skills-title {
  padding-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.skills-title h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 150px;
  height: 200px;
  justify-content: space-between;
}

.skill-card:hover {
  transform: translateY(-10px);
}

.skill-logo {
  height: 110px;
}

.skill-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 480px) {
  .skill-card {
    height: 80px;
    width: 74px;
    padding: 14px;
  }
  .skill-logo {
    height: 50px;
  }
  .skill-title {
    font-size: 14px;
    margin-bottom: 0px;
  }
}
