.timeline-container {
  position: relative;
  // padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .work_exp_con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 3.2rem;
    margin: 2rem;
    padding-bottom: 2rem;
  }
  .timeline-line {
    position: absolute;
    top: 230px;
    width: 4px;
    background-color: #66b1f1;
    height: 25%;
  }

  .timeline-cards {
    position: relative;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    align-items: center;
  }

  .experience-card {
    position: relative;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 2.5rem;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }

    .card-content {
      h3 {
        margin: 0;
        font-size: 1.2rem;
        color: #333;
      }
      h4 {
        margin: 0.2rem 0;
        font-size: 1rem;
        color: #555;
      }
      p {
        font-size: 0.9rem;
        color: #666;
      }
    }
  }
}

// Responsive
@media (max-width: 768px) {
  .timeline-container {
    .experience-card {
      width: 95%;
    }
  }
}
