<div class="container">
  <!-- Left Section (Buttons) -->
  <div class="sidebar">
    <button class="company-button" (click)="setActiveContent('proclink')">
      Proclink Consulting Services LLP
    </button>
    <!-- <button class="company-button" (click)="setActiveContent('microsoft')">
      Microsoft
    </button> -->
  </div>

  <!-- Right Section (Dynamic Content) -->
  <div class="content">
    @if(activeContent=='proclink') {
    <div>
      <p class="heading">
        Graduate Engineer Trainee at <b>Proclink Consulting Services LLP</b>
      </p>
      <p>May 2024 - present</p>
      <div class="company_experience">
        <ul>
          @for(point of proclink_experience; track point) {
          <li>{{ point }}</li>
          }
        </ul>
      </div>
    </div>
    }
    <!-- } @if(activeContent=='microsoft') {
    <div>
      <h2>Microsoft</h2>
      <p>Developer</p>
    </div>
    } -->
  </div>
</div>
