.intro_page_con {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  height: 100vh;
  justify-content: center;
}
.name_role_con {
  text-align: center;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1 {
  color: #005aa7;
  font-size: 2.5rem;
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h2 {
  gap: 10px;
  margin: 0px;

  font-size: 1.8rem;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.role {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  min-width: 250px; /* Keeps text placement constant */
}
.role_con {
  height: 35px;
}

// .name_role_con {
//   h1 {
//     font-family: Lexend, sans-serif;
//     font-size: 2.5rem;
//     font-weight: 700;
//     color: #000;
//   }
//   h2 {
//     font-family: Lexend, sans-serif;
//     font-size: 1.5rem;
//     font-weight: 500;
//     color: #000;
//   }
// }
.profile_img_con {
  background-image: url("../../assets/profile_img_bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}
