<section class="intro_page_con">
  <div class="name_role_con">
    <div class="name_con">
      <h1 #name>&nbsp;</h1>
      <!-- Space added to maintain height -->
    </div>
    <div class="role_con">
      <h2>
        <span #imA></span>
        <span #role class="role">&nbsp;</span>
        <!-- Ensures fixed space -->
      </h2>
      <div class="social_link_icons">
        <a href="https://github.com/srujanpothu14" target="_blank">
          <img src="assets/github_logo.svg" alt="GitHub" />
        </a>
        <a
          href="https://www.hackerrank.com/profile/srujannetha2002"
          target="_blank"
        >
          <img src="assets/hackerrank_logo.svg" alt="HackerRank" />
        </a>
        <a href="https://www.linkedin.com/in/srujanpothu" target="_blank">
          <img src="assets/linkedin_logo.svg" alt="LinkedIn" />
        </a>
        <a href="assets/Srujan_Pothu_Resume.pdf" target="_blank">
          <img src="assets/resume_logo.svg" alt="Resume" />
        </a>
      </div>
    </div>
  </div>

  <div class="profile_img_con">
    <img src="assets/profile_img_bg.jpg" alt="" />
  </div>
</section>
