<div class="container">
  <!-- Left Section (Buttons) -->
  <div class="sidebar">
    <div class="projects_header_con">
      <img src="assets/projects_logo.png" />
      <p>Projects</p>
    </div>
    <div class="project_titles_con">
      <button class="projects_button" (click)="setActiveContent('courses')">
        Courses Platform
        <img src="assets/github_logo.png" alt="" />
      </button>
      <button class="projects_button" (click)="setActiveContent('todo')">
        Todo Platform
        <img src="assets/github_logo.png" alt="" />
      </button>
    </div>
  </div>

  <!-- Right Section (Dynamic Content) -->
  <div class="content">
    @if(activeContent=='courses') {
    <div>
      <p class="heading">Online Courses Platform</p>
      <p>May 2024 - present</p>
      <div class="project_description">
        <ul>
          @for(point of project_description; track point) {
          <li>{{ point }}</li>
          }
        </ul>
      </div>
    </div>
    } @if(activeContent=='todo') {
    <div>
      <p class="heading">Todo Platform</p>
      <p>May 2024 - present</p>
      <div class="project_description">
        <ul>
          @for(point of project_description; track point) {
          <li>{{ point }}</li>
          }
        </ul>
      </div>
    </div>
    }
  </div>
</div>
