<div class="container">
  <!-- Left Section (Buttons) -->
  <div class="sidebar">
    <div class="projects_header_con">
      <img src="assets/projects_logo.png" />
      <p>Projects</p>
    </div>
    <div class="project_titles_con">
      <button class="projects_button" (click)="setActiveContent('E-Learning')">
        E-Learning Platform
        <a href="https://github.com/srujanpothu14/E-Learning" target="_blank">
          <img src="assets/github_logo.png" alt=""
        /></a>
      </button>
      <button class="projects_button" (click)="setActiveContent('todo')">
        Todo List Platform
        <a href="https://github.com/srujanpothu14/Todo_App" target="_blank">
          <img src="assets/github_logo.png" alt=""
        /></a>
      </button>
    </div>
  </div>

  <!-- Right Section (Dynamic Content) -->
  <div class="content">
    @if(activeContent=='E-Learning') {
    <div>
      <p class="heading">E-LEarning Platform</p>
      <p>Angular, Node.js, Express.js, Amazon DynamoDB, S3 Bucket</p>
      <div class="project_description">
        <ul>
          @for(point of project_description; track point) {
          <li>{{ point }}</li>
          }
        </ul>
      </div>
    </div>
    } @if(activeContent=='todo') {
    <div>
      <p class="heading">Todo List Platform</p>
      <p>Angular, Node.js, Express.js, MongoDB</p>
      <div class="project_description">
        <ul>
          @for(point of project_description; track point) {
          <li>{{ point }}</li>
          }
        </ul>
      </div>
    </div>
    }
  </div>
</div>
