.about_me_con {
  display: flex;
  justify-content: center;
  height: 91vh;
  flex-direction: column;
  font-weight: 100;
  font-size: 24px;
  line-height: 55px;
  align-items: center;
}
.about_me {
  p {
    text-align: justify;
    margin: 4rem;
  }
  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }

  width: 80%;
  background: #fff;
  border-radius: 3.2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
  .about_me_con {
    height: 65vh;
    font-size: 14px;
    line-height: 30px;
  }
  .about_me {
    width: 90%;
    p {
      margin: 1.6rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
}
