<div class="about_me_con">
  <div class="about_me">
    <p>
      Hello, this is <b>Srujan Pothu</b>! I am currently working as
      <b>Graduate Engineer Trainee</b> at
      <b>Proclink Consulting Services LLP</b> on the Automation Testing Team. I
      enjoy building web applications using <b>MEAN</b> Stack. My passion for
      technology drives me to constantly explore new tools and frameworks
      through hands-on projects and self-study. Whether it’s software
      development or automation testing, I am always eager to learn, innovate,
      and contribute to meaningful solutions.
    </p>
  </div>
</div>
