.about_me_con {
  display: flex;
  justify-content: center;
  height: 91vh;
  flex-direction: column;
  font-weight: 100;
  font-size: 24px;
  line-height: 55px;
  align-items: center;
}
.about_me {
  p {
    margin: 4rem;
  }

  width: 80%;
  background: #fff;
  border-radius: 3.2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
  .about_me_con {
    height: 100%;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 24px;
  }
  .about_me {
    p {
      margin: 1rem;
    }
  }
}
