$primary-color: #66b1f1;
$tab-height: 65px;
body {
  font-family: "Century Gothic", "Lato", sans-serif;
}

.et-hero-tabs,
.et-slide {
  position: relative;
  background: #eee;
  text-align: center;
  display: flex;
  justify-content: center;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 75%;
  height: $tab-height;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
  transition: position 0.3s ease;
  border-radius: 50px;

  &--top {
    position: fixed;
    top: 20px;
  }
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  text-decoration: none;
  border-radius: 50px;

  &:hover {
    color: white;
    background: rgba($primary-color, 0.8);
    transition: all 0.5s ease;
    border-radius: 50px;
  }
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 5px;
  width: 50px;
  height: 6px;
  border-radius: 10px;
  background: $primary-color;
  transition: left 0.3s ease;
  opacity: 0;
}

@media (min-width: 800px) {
  .et-hero-tabs,
  .et-slide {
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1rem;
    }
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .et-hero-tabs,
  .et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .et-hero-tabs-container {
    width: 96%;
    height: 45px;
    border-radius: 30px;
    margin-bottom: 22px;
    &--top {
      top: 30px;
    }
  }
  .et-hero-tab {
    font-size: 11px;
    letter-spacing: 0.04rem;
  }
}
