$primary-color: #66b1f1;
$tab-height: 70px;
body {
  font-family: "Century Gothic", "Lato", sans-serif;
}

.et-hero-tabs,
.et-slide {
  position: relative;
  background: #eee;
  text-align: center;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $tab-height;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
  transition: position 0.3s ease;

  &--top {
    position: fixed;
    top: 0;
  }
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  text-decoration: none;

  &:hover {
    color: white;
    background: rgba($primary-color, 0.8);
    transition: all 0.5s ease;
  }
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: $primary-color;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs,
  .et-slide {
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1rem;
    }
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}
