<div class="contact_con">
  <div class="contact-container">
    <h2>Contact Me</h2>

    <div class="contact-item">
      <label>Email:</label>
      <a href="mailto:srujanpothu@outlook.com">srujanpothu&#64;outlook.com</a>
    </div>

    <div class="contact-item">
      <label>Phone:</label>
      <a href="tel:+917997037993">+91 7997037993</a>
    </div>

    <div class="linkedin-card">
      <div class="card-header">
        <img
          class="background-img"
          src="assets/linkedin_bg.jpg"
          alt="Background"
        />
        <img
          class="profile-img"
          src="assets/profile_img_bg.jpg"
          alt="Your Name"
        />
      </div>
      <div class="card-body">
        <h3>Pothu Srujan</h3>
        <p>Associate Software Engineer at Proclink Consulting Services LLP</p>
        <p>Hyderabad, Telangana</p>
      </div>
      <div class="card-footer">
        <a href="https://www.linkedin.com/in/srujanpothu" target="_blank"
          >View Profile</a
        >
      </div>
    </div>
  </div>
  <p>Designed and developed by Myself✨</p>
</div>
