<div class="contact_con">
  <div class="contact-container">
    <h2>Contact Me</h2>

    <div class="contact-item">
      <label>Email:</label>
      <a href="mailto:your-email@example.com">srujanpothu&#64;outlook.com</a>
    </div>

    <div class="contact-item">
      <label>Phone:</label>
      <a href="tel:+1234567890">+1 234-567-890</a>
    </div>

    <div class="contact-item">
      <label>LinkedIn:</label>
      <a href="https://www.linkedin.com/in/yourprofile" target="_blank"
        >Visit My LinkedIn</a
      >
    </div>
  </div>
</div>
